@media (max-width: 1199.98px)
	html
		font-size: 16px
	.block-form_form
		grid-column: 2/8
	.block-form_img
		grid-column: 8/12

	.eighth-block_content
		grid-template-columns: repeat(auto-fill, 400px)

	.footer-content
		grid-template-columns: repeat(auto-fill, 150px)

@media (max-width: 991.98px)
	html
		font-size: 14px

	.container
		grid-template-columns: 1rem repeat(10,1fr) 1rem
	.header .top-nav_button
		grid-column: 6/9
	.first-screen_top_search
		grid-column: 2/6
	.first-screen_slider-item
		grid-column: 1/ -1
	.header .nav-menu_item-1 .sub-menu-item-3
		grid-column: 3/4
		grid-row: 2/4
	.header .nav-menu_item-1 .sub-menu-item-5
		margin-top: 1rem
		grid-column: 1/2
		grid-row: 3/4
	.block-form_img
		display: none
	.block-form_form
		grid-column: 3/11
	.seventh-block_content
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
	.eighth-block_content
		grid-template-columns: repeat(auto-fill, 350px)
	.ninth-block_news
		grid-template-columns: repeat(auto-fill, 200px)
	.faq-content_txt-card_content .card-view
		right: 2%

@media (max-width: 767.98px)
	html
		font-size: 13px
	.header .nav-menu_item li
		padding-top: 1rem
	.header .nav-menu_item-4 .sub-menu, .header .nav-menu_item-5 .sub-menu
		top: 158%
	.header .nav-menu_item-1 .sub-menu, .header .nav-menu_item-2 .sub-menu, .header .nav-menu_item-3 .sub-menu,
		top: 251%
	.header .top-nav_button
		grid-column: 5/9
	.header .top-nav_logo
		grid-column: 2/5
	.first-screen_top_nav
		grid-column: 6/12
	.second-block_content
		grid-template-columns: repeat(auto-fill, 300px)
	.thirst-block_icon
		grid-template-columns: repeat(auto-fit, minmax(80px, 1fr))
	.four-block_numbers
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
		font-size: 0.8rem
		font-weight: 500
	.fifth-block_icons
		grid-template-columns: repeat(auto-fit, 80px)
	.sixth-block_content_img
		width: 8rem
		height: 8rem
	.sixth-block_content_number
		font-size: 8rem
	.block-form_form
		grid-column: 2/12
	.seventh-block_content
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))
	.eighth-block_content-card
		grid-row: initial
	.eighth-block_content
		grid-template-columns: repeat(auto-fill, 450px)
	.ninth-block_news
		grid-template-columns: repeat(auto-fill, 150px)
	.tenth-block
		padding: 1.5rem 4rem
	.review-slider .slider-btn_next
		right: -10%
	.review-slider .slider-btn_prev
		left: -10%

@media (max-width: 575.98px)
	html
		font-size: 14px
		.container
			grid-template-columns: .2rem repeat(10,1fr) .2rem
			grid-column-gap: .3rem

	.header .top-nav
		grid-template-row: 1fr 1fr
		grid-row-gap: 1rem
	.header .top-nav_mail
		grid-row: 2/3
		grid-column: 5/9
		justify-self: start
		img
			width: 0.6rem
	.header .top-nav_city
		grid-column: 9/12
		justify-self: start
	.header .top-nav_phone
		grid-column: 5/9
		justify-self: start
	.header .top-nav_button
		grid-row: 2/3
		grid-column: 9/13
		justify-self: start
	.header .top-nav_logo
		grid-row: 1/2
		grid-column: 2/5
	.header .nav-menu
		grid-template-rows: 1fr max-content
	.header .nav-menu_btn
		grid-column: 2/12
		grid-row: 2/3
		justify-self: start
		padding-top: 2rem
	.header .nav-menu_item
		grid-column: 2/12
		font-size: 0.8rem
		grid-template-rows: 1fr 1fr
		display: grid
		grid-template-columns: auto
		grid-column-gap: 1.5rem
	.header .nav-menu_item-1 .sub-menu, .header .nav-menu_item-2 .sub-menu
		top: 454%
	.header .nav-menu_item-3 .sub-menu, .header .nav-menu_item-4 .sub-menu, .header .nav-menu_item-5 .sub-menu
		top: 354%
	.header .nav-menu_item-1 .sub-menu
		grid-template-columns: repeat(auto-fit, 260px)
		width: 21rem
	.header .nav-menu_item-1 .sub-menu-item-3
		grid-column: auto
		grid-row: auto
	.header .nav-menu_item-1 .sub-menu-item-4
		grid-column: auto
		grid-row: auto
	.header .nav-menu_item-1 .sub-menu-item-1, .header .nav-menu_item-1 .sub-menu-item-2, .header .nav-menu_item-1 .sub-menu-item-3, .header .nav-menu_item-1 .sub-menu-item-4, .header .nav-menu_item-1 .sub-menu-item-5
		padding-bottom: 1rem
	.header .nav-menu_item-2 .sub-menu
		left: -90%
		width: 21rem
	.header .nav-menu_item-5 .sub-menu
		left: -173%
		width: 21rem
	.header .nav-menu_item-4 .sub-menu
		left: -58%
		width: 21rem
	.header .nav-menu_item-3 .sub-menu
		width: 21rem
	.header .nav-menu_item-3, .header .nav-menu_item-4, .header .nav-menu_item-5
		grid-row: 2/3
	.header .nav-menu_item li
		width: 120%
		padding-right: 0
	.first-screen_top
		grid-template-rows: repeat(2, max-content)
	.first-screen_top_search
		grid-row: 1/2
		grid-column: 2/11
	.first-screen_top_search input
		width: 104%
	.first-screen_top_nav
		grid-row: 2/3
		grid-column: 2/12
		justify-content: center
		padding-top: 1rem
		width: 100%
	.second-block_content img
		display: none
	.thirst-block_icon
		grid-template-columns: repeat(auto-fit, minmax(90px, 1fr))
	.four-block_numbers
		grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))
	.four-block_numbers .number strong
		font-size: 1.4rem
	.four-block_numbers .number p
		font-size: 0.6rem
	.fifth-block_content
		grid-column: 2/12
	.fifth-block_icons
		grid-column: 2/12
		grid-template-columns: repeat(auto-fit, 70px)
	.sixth-block_content_img
		width: 5rem
		height: 5rem
	.sixth-block_content img
		max-width: 3rem
	.sixth-block_content_number
		font-size: 6rem
		left: -5%
	.sixth-block_content-line
		display: none
	.sixth-block_content-1
		grid-column: 2/5
	.sixth-block_content-5
		grid-column: 9/12
	.sixth-block_content p
		font-size: 0.7rem
	.sixth-block_content .signature
		font-size: 0.6rem
	.block-form_form h2
		font-size: 1.2rem
	.block-form_form p
		font-size: 0.7rem
	.block-form_form form
		grid-template-columns: 1fr
		grid-template-rows: 1fr 1fr
		input
			grid-row: 1/2
			width: 90%
		button
			grid-row: 2/3
			grid-column: 1/2
	.block-form
		padding: 2.5rem 0
	.block-form_form
		position: relative
		a
			position: absolute
			bottom: 10%
	.eighth-block_content
		grid-template-columns: repeat(auto-fill, 300px)
	.tenth-block
		padding: 1.5rem 1rem
	.slick-slider
		padding: 0 1rem
	.faq-content
		grid-template-rows: repeat(3,max-content)
	.faq-content_form
		grid-row: 3/4
		grid-column: 1/ -1
		padding-top: 5rem
	.faq-content_txt
		grid-column: 1/ -1
	.faq-content-btn
		grid-column: 1/ -1
	.review
		padding-left: 3rem
		padding-right: 3rem
	.modal-search_wrapper .modal-search_content
		width: 96%
		padding: 0.5rem
	.modal-search_wrapper .modal-search_content form
		grid-template-columns: 1fr 1fr 1fr
		align-items: end
	.modal-search_wrapper .modal-search_content .doc
		grid-column: 1/3
	.modal-search_wrapper .modal-search_content .term
		grid-column: 3/4
	.modal-search_wrapper .modal-search_content img
		top: 0.6rem
		right: 1rem
	.modal-search_wrapper .modal-search_content input
		width: 89%